body {
    font-family: 'Arial', sans-serif;
    margin: 0;
  }

  img {
    max-width: 500px;
    max-height: 500px;
  }
  .header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .number-div {
    background-color: #1abc9c;
  }
  
  .content {
    padding: 20px;
  }
  
  .word {
    font-size: 30px;
    color: #333;
  }
  
  audio {
    margin-top: 10px;
  }
  
  .fact {
    line-height: 1.5;
    color: #555;
  }